*{
    padding: 0;
    margin: 0;
}
body {
    background-color: grey;
}
/* 
.container{
    width:500px;
} */
form {
    margin:200px 200px;
    padding:20px;
    width:400px;
    height: 400px;
    border: 1px solid white;
    background-color: white;
}

/* .email {
    padding: 20px;
} */

input[type=text],input[type= password]{
    width: 100%;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(228, 221, 221);
    box-sizing: border-box;
    border-radius: 8px;
}
input:hover{
    border: 1px solid  rgb(12, 54, 240);
}
.login {
    display:inline-block;
    text-align: center;
    background-color: rgb(12, 54, 240);
    box-sizing: border-box;
    width: 100%;
    padding:15px 20px;
    margin: 8px 0;
    color: white;
    border-radius: 8px;
}
.login a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.forgot{
    text-align: center;
    padding: 12px 20px;
    margin-top: 10px;
}
.forgot a{
    color:rgb(3, 62, 170); 
    text-decoration: none;
}
.forgot a:hover{
    text-decoration:underline;
}
.line {
    text-decoration: underline;
}
#new {
    text-align: center;
    padding: 20px 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 30px 0 0 80px;
  
}
#new a{
    background-color: rgb(35, 160, 35);
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
}
#new a:hover {
    background-color: green;
}